@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pagination-container svg {
    width: 20px !important;
    height: 20px !important;
}

/* 2. Скрываем лишнюю текстовую информацию (Showing 1 to 5...) */
.pagination-container nav > div:first-child {
    display: none !important;
}

/* 3. Делаем пагинацию горизонтальной */
.pagination-container nav > div:last-child {
    display: flex !important;
    gap: 10px;
    align-items: center;
}

/* 4. Стилизуем ссылки и активную страницу */
.pagination-container a,
.pagination-container span {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #ccc;
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 4px;
}

.underline {
    display: block; background: #0a0a0a; width: 100%; height: 1px; margin: 15px 0 15px 0
}
